.bubble-container-overflow {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: 0;

  #bubble-1 {
    position: relative;
    left: -24.5%;
    margin-top: -54.5%;
  }

  #bubble-2 {
    position: relative;
    left: -20%;
    margin-top: 106%;
  }
}
