.bubble-container {
  width: 100vw;
  top: -10px;
  position: absolute;
  overflow: hidden;
  z-index: 0;

  #bubble-1 {
    position: relative;
    left: -24%;
    margin-top: -54.5%;
  }

  #bubble-2 {
    position: relative;
    left: -20%;
    margin-top: 106%;
  }
}
