.bubble-container {
  width: 100vw;
  top: -10px;
  position: absolute;
  overflow: hidden;
  z-index: 0;

  #bubble-1 {
    position: relative;
    left: -20vw;
    margin-top: -24.8vh;
  }

  #bubble-2 {
    position: relative;
    left: -20vw;
    margin-top: 50vh;
  }
}
