
.food-container {
    width: 364px;
    height: 94px;
    background-color: $light-color;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    margin: 0;
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;

    .image-container {
        width: 88px;
        border-radius: 22px 0 0 22px;
        background-color: $light-font-color;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-container {
        width: 266px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        color: $font-color;

        .title {
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 8px;
            margin-left: 4.6px;
        }

        .price {
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 8px;
        }

        .description {
            font-size: 12px;
            margin-top: 0;
            color: $light-font-color;
            margin-left: 4.6px;
        }

        .tags {

        }
    }
}