
.nav-item-container {
    width: 120px;
    height: 44px;
    border-radius: 22px;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    
    p {
        padding-top: 7%;
        align-self: center;
    }
}