$light-color: #ffffff;
$font-color: #4e4e4e;
$primary-color: #016b2e;
$secondary-color: #31923f;

.open-hours-container {
  text-align: center;
  color: $light-color;
  position: absolute;
  top: 8.8%;

  .hours-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
    color: $font-color;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    width: 46.8vw;
    height: 5.4vh;
    margin: auto;
  }
}
