@import "styles/background";
@import "styles/header";
@import "styles/open-hours";
@import "styles/order-type";
@import "styles/krav";
@import "styles/graycover";
@import "styles/autocompletetext";
@import "styles/navbar";
@import "styles/navitem";
@import "styles/menuitems";
@import "styles/category";
@import "styles/fooditem";
@import "styles/cart";
@import "styles/extraitems";
@import "styles/checkoutitem";
@import "styles/contactinformation";
@import "styles/headersecondary";

$light-color: #ffffff;
$font-color: #4e4e4e;
$light-font-color: #c9c9c9;
$primary-color: #016b2e;
$secondary-color: #31923f;
$font-stack: "Poppins", sans-serif;

.App-header {
  background-color: $light-color;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
