@import "styles/background";
@import "styles/background-overflow";
@import "styles/header";
@import "styles/open-hours";
@import "styles/order-type";
@import "styles/krav";
@import "styles/graycover";
@import "styles/autocompletetext";
@import "styles/navbar";
@import "styles/navitem";

$light-color: #ffffff;
$font-color: #4e4e4e;
$primary-color: #016b2e;
$secondary-color: #31923f;

.App-header {
  background-color: $light-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
